/* ******************************************************************
** Project Name:        DEVCAN
** Project Description: A simple News Portal Theme
** Author:              parvez alam
** Author URL:          http://developercanvas.com
** Version:             1.0.0
* ******************************************************************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto");
@import url("https://use.fontawesome.com/releases/v5.4.2/css/all.css");
/* UTILITIES
------------------------------------------------------------------ */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

blockquote {
  margin: 0;
  font-style: italic; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* BUTTONS
------------------------------------------------------------------ */
.button {
  display: block;
  height: 3rem;
  padding: 0 1rem;
  outline: none;
  border: 1px solid;
  font-size: 1.125rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

/* DIVIDERS
------------------------------------------------------------------ */
.divider {
  display: block;
  height: 1px;
  margin: 48px 0;
  border: none;
  background-color: #EEE; }

/* TYPOGRAPHY
------------------------------------------------------------------ */
body {
  color: #333;
  font: 16px/24px "Open Sans", sans-serif;
  margin: 0; }

a {
  color: #4183C4; }
  a:hover {
    color: #8a8a8a; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.3125rem;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-weight: normal; }

h1 {
  font-size: 3.375rem;
  font-weight: bold;
  line-height: 1.2; }

h2 {
  font-size: 1.68rem;
  font-weight: bold; }

h3 {
  color: #222;
  font-size: 1.2rem; }

h4 {
  font-size: 1rem;
  font-weight: bold; }

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase; }

h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.444rem; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.width-100 {
  width: 100%; }


.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #454545; }
.section {
  padding-left: 5px;
  padding-right: 5px;
}
/* HEADER SECTION
------------------------------------------------------------------ */
.header-top-area {
  background-color: #ffffff;
  padding-top: 180px;
  padding-bottom: 10px;
  width: 100%; }

.header-top {
  background-color: #c90909;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-between; }
  .section-nav {
    padding: 10px;
    border: none; }
    .section-nav h3 {
      margin: 0.7rem 0; }
      .section-nav h3 a {
        text-decoration: none;
        font-size: 22px;
        color: #ffffff; }
        .section-nav h3 a:hover {
          color: #000000;
          text-decoration: underline; }
  .header-top ul {
    display: flex;
    flex-wrap: wrap;
    border: 0; }

  .header-top .info {
    text-align: left; }
    .header-top .info a {
      padding-right: 1.2rem;
      color: #222;
      position: relative; }
      .header-top .info a::before {
        content: '|';
        color: #DDDDDD;
        position: absolute;
        left: -8px;
        top: -5px; }
  .header-top .socials {
    text-align: right; }
    .header-top .socials a {
      font-size: 1.1rem; }

.header-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px; 
  padding-bottom: 10px;
 }
  .header-logo .logo {
    flex-basis: 20%;
    justify-content: start;

   }
    .header-logo .logo a {
      font-size: 2rem;
      color: #d32c2c;
      font-weight: bolder;
      text-decoration: none;
      line-height: 1; }
  .ads {
    text-align: -webkit-center;
    margin-bottom: 20px;
    padding-top: 20px;
   }
   .ads .title{
    background-color: #dedede7c;
    margin: 0;
    max-width: 80%;
   }
   .ads .title p {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0; 
    color: #6f6f6f;
    font-family: Helvetica-FF, Arial, Tahoma, sans-serif;
    line-height: 1.5;
  }
   .ads img {
    width: 60%;
    max-width: 1200px;
    height: auto;
    margin-bottom: 10px;
}
   .ads .body-middle {
    width: 95%;
    height: auto;
    margin-bottom: 0;
}
   .ads .sidebar-one {
    width: 95%;
    height: auto;
    margin-bottom: 25px;
}
.header-logo nav {
  flex-grow: 0; }
  .header-logo nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .header-logo nav ul li {
      padding-right: 8px;
      position: relative; }
    .header-logo nav ul li {
      padding-right: 8px;
      position: relative; }
      .header-logo nav ul li a {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        text-align: center;
        align-self: center;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 7px;
        padding-top: 7px;
        border: 1px solid #4183C4;
        border-radius: 20px;
        text-transform: uppercase;
        color: #000000;
        font-size: 12px;
        text-align: left;
        text-decoration: none;
        letter-spacing: 0.12rem; }
        .header-logo nav ul li a:hover {
          background-color: #5147ff; }
        
/* -------------Search------------------ */
.header-logo .search {
  text-align: right;
  align-self: center; 
  border: 2px solid rgb(170, 170, 170);
  padding: 3px;
  border-radius: 6px;
}
  .header-logo .search form {
    position: relative; }
    .header-logo .search form #searchinput {
      font-size: 15px;
      align-items: center;
      font-weight: 400;
      border: none;
      outline: none;
      padding: 0.5rem .65rem;
      width: 350px;
      z-index: 2;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .header-logo .search form #searchinput:focus {
        width: 350px;
        background-color: #FFFFFF; }
    .header-logo .search form .search-btn {
      color: #7b7b7b;
      font-size: 17px;
      border: none;
      background-color: #FFFFFF;
      cursor: pointer;
      position: relative;
      z-index: 3; }

.header-menu-container {
  background-color: #ffffff;
  display: block;
position: fixed;
z-index: 1000;
min-width: fit-content;
width: 100%; }

.header-menu-container .menu-fixed {
  top: 0;
  left: 0;
  right: 0; }
.time-zona {
  color: #f3f3f3;
  font-weight: bold;
}

.header-menu {
  padding: 0;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(90deg, rgba(35,45,140,1) 0%, rgba(48,61,251,1) 56%, rgba(113,133,255,1) 100%);
}

.header-menu .scrollable-tabs-container {
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.header-menu .scrollable-tabs-container nav ul {
  display: flex;
  gap: 16px;
  padding: 12px 24px;
  margin: 0;
  list-style: none;
  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

.header-menu .scrollable-tabs-container nav ul::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

.header-menu .scrollable-tabs-container a {
  color: #fff;
  text-decoration: none;
  padding: 4px 24px;
  display: inline-block;
  border-radius: 4px;
  user-select: none;
  white-space: nowrap;
}

.active, .header-menu .scrollable-tabs-container a:hover {
  background: #fff;
  color: #000;
}


.breaking-news-ticker {
  width: 50%;
  height: auto !important;
  line-height: 24px !important;
  font-size: 12px;
  border: solid 1px #eeeeee; }
  .breaking-news-ticker li a {
    color: #222222 !important;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize; }
    .breaking-news-ticker li a:hover {
      color: #ce2525 !important; }

/* MAIN CONTENT AREA
------------------------------------------------------------------ */
.section {
  margin-top: 0;
  margin-bottom: 30px; }

.section-item {
  border: 1px solid #DDDDDD; }
  .section-item h3 {
    margin: 0.7rem 0; }
    .section-item h3 a {
      text-decoration: none;
      color: #222; }
      .section-item h3 a:hover {
        color: #5c61cf;
         }
  .section-item p {
    margin-top: 0; }
  .section-item ul {
    padding-bottom: 5px; }
    .section-item ul li {
      color: #777;
      text-transform: uppercase;
      font-size: 0.7rem; }
      .section-item ul li:last-child {
        text-align: right;
        float: right; }
      .section-item ul li a {
        text-decoration: none;
        color: #777; }
        .section-item ul li a:hover {
          text-decoration: underline; }
  .section-item h3,
  .section-item ul,
  .section-item p {
    padding-left: 8px;
    padding-right: 8px; }

.section-grid {
  display: grid;
  margin-bottom: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7px; }
  .section-grid .section-item {
    border-radius: 10px;
    border: none;
    height: 96%;
    overflow: hidden;
}

.section-grid .section-item .image-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform .5s;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.image-container {
    position: relative;
}

.title-overlay-lifestyle {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0; 
  gap: 0;
  background: none;
  color: white;
  border-radius: 7px;
  z-index: 2;
}

.title-overlay-lifestyle .title-category {
  background: linear-gradient(to right, rgba(22,12,201,1) 0%, rgba(55,108,255,0.9865196078431373) 50%, rgba(120,161,255,1)50%, rgba(205, 205, 205, 0.666) 20%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  cursor: pointer;
  width: 90px;
  height: 35px;
  border-left: 10px solid rgb(22,12,201,1);
  border-radius: 3px;
  text-align: center;
  color: white;
  text-decoration: none;
  display: block;
  align-content: center; /* Centers text */
}

.title-overlay-lifestyle .title-category span {
color: #FFFFFF;
text-transform: capitalize;
letter-spacing: 0;
}


.title-overlay-lifestyle .title-category:hover {
  background-position: left bottom;
}
.title-overlay {
  position: absolute; 
  display: flex; 
  flex-direction: column; 
  bottom: 10px; 
  left: 10px;
  gap: 0; 
  background: none; 
  color: white; 
  border-radius: 5px; 
  z-index: 2;
}
.section-grid .section-item .title-overlay-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  text-decoration: none;
  margin-bottom: 5px;
  color: #FFFFFF;
}
.section-grid .section-item .title-overlay-title:hover {
color: #fab324;
}
.title-overlay .title-category {
  background: linear-gradient(90deg, rgba(22,12,201,1) 0%, rgba(55,108,255,0.9865196078431373) 50%, rgba(120,161,255,1) 86%);
  width: 100px;
  height: 35px;
  font-weight: 600;
  border-radius: 4px;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase; /* Makes text uppercase */
  display: flex;
  align-items: center;
  justify-content: center; /* Centers text */
}



    .section-grid .section-item:nth-child(1) {
      grid-column: 1/3;  
      grid-row: 1/3; }
    .section-grid .section-item:nth-child(1) .title-overlay-title {
      font-size: 25px;
      font-weight: 700;
      margin-top: 10px;
      text-decoration: none;
      margin-bottom: 15px;
      color: #FFFFFF; }
    .section-grid .section-item:nth-child(1) .title-overlay-title:hover {
      color: #fab324; }
      .section-grid .section-item:nth-child(1) h3 a {
        font-size: 1.68rem; }
      .section-grid .section-item:nth-child(1) .image-container img {
        height: 410px;
        max-height: auto;
       }


      .section-grid .section-item img:hover {
        transform: scale(1.07);
      }


.news-category-container {
  margin-bottom: 40px; 
}
.news-category-container {
  border-top: 2px solid #f0f0f0;
  padding-top: 20px;
}
  .news-category-container h2 {
    color: #222;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
    position: relative; }
  .news-category-container .judul {
    color: #222;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
    position: relative; }
    .news-category-container h2::before {
      position: absolute;
      top: 0;
      left: -1rem;
      width: 0.4rem;
      height: 100%;
      background-color: #d32c2c; }

.section-news {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px; }
  .section-news .news-category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
     }
    .section-news .news-category .section-item {
      transition: transform .5s;
    }
    .section-news .news-category .section-item:hover {
      transform: scale(1.03);
    }
    .section-news .news-category .section-item:first-child {
      grid-row: 1/4;
      display: grid; }
      .section-news .news-category .section-item:first-child h3 {
        font-size: 1.38rem;
        line-height: 1; }
      .section-news .news-category .section-item:first-child a {
        height: 180px; }
    .section-news .news-category .section-item:not(:first-child) {
      display: grid;
      border: none;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px; }
    .section-news .news-category .section-item:not(:first-child) a{
      max-height: auto;
      width: 100%;
      height: 100%; }

    .section-news .news-category .section-item li {
      display: inline-block; }

  .section-news .news-lifestyle {
    display: grid;
    /* height: 96%; */
    margin-bottom: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px; }
    .section-news .news-lifestyle .section-item {
      border: none;
      overflow: hidden;
      border-radius: 10px;
       }
      .section-news .news-lifestyle .section-item .image-container img{
        border-radius: 10px;
        transition: transform .5s;
        width: 100%; 
        height: 150px; 
        object-fit: cover; 
      }
      .section-news .news-lifestyle .section-item a img:hover {
        transform: scale(1.03);
      }
      .section-news .news-lifestyle .section-item h3 {
        font-size: 1.2rem; }
      .section-news .news-lifestyle .section-item li {
        display: inline-block; }
  .section-news .news-technology {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px; }
    .section-news .news-technology .section-item {
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
      overflow: hidden;
      transition: transform .5s;
      border-radius: 7px;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 5px;
    }
    .section-news .news-technology .section-item .image-tech a img{
      max-height: auto;
      width: 100%;
      height: 100%;
    }
    .section-news .news-technology .section-item .image-tech {
      width: 100%;
    }
    .section-news .news-technology .section-item:hover {
      transform: scale(1.02); }


/* SIDEBAR SECTION
------------------------------------------------------------------ */
.sidebar .section-item {
  background-color: #F9F9F9;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem; }
  .sidebar .section-item li {
    display: inline-block; }

.sidebar-item {
  margin-bottom: 60px; }
  .sidebar-item .sidebar-news h2 {
    color: #222;
    /* text-transform: uppercase; */
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    position: relative; }
    .sidebar-item .sidebar-news h2::before {
      position: absolute;
      top: 0;
      left: -1rem;
      width: 0.4rem;
      height: 100%;
      content: '';
      background-color: #2d24d3; }
  .sidebar-item .sidebar-news .section-item {
    margin-top: -1px;
  }
  .sidebar-item .sidebar-news .section-item a img {
    transition: transform .5s;
    border-radius: 5px;
  }
  .sidebar-item .sidebar-news .section-item a img:hover {
    transform: scale(1.02);}
    .sidebar-item .sidebar-news .section-item h3 {
      text-transform: capitalize; }

.tabs-container .tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2px; }
  .tabs-container .tabs .tab {
    background-color: #777;
    color: #FFFFFF;
    padding: .5rem 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer; }
    .tabs-container .tabs .tab.active {
      background-color: #F9F9F9;
      color: #454545;
      border-top: 1px solid #DDDDDD;
      border-left: 1px solid #DDDDDD;
      border-right: 1px solid #DDDDDD;
      text-decoration: underline; }
.tabs-container .panel {
  display: none; }
  .tabs-container .panel.active {
    display: block; }
  .tabs-container .panel .section-item {
    border-top: 0 solid;
    padding-top: 0.8rem; }
    .tabs-container .panel .section-item h3 {
      margin-top: 0; }

.sidebar-item .category-news h3 {
  font-size: .8rem;
  text-transform: uppercase !important;
  font-weight: bold;
  margin: 0.4rem 0; }
  .sidebar-item .category-news h3 i {
    color: #777;
    padding-right: 0.4rem; }
  .sidebar-item .category-news h3 span {
    text-align: right;
    float: right;
    padding-right: 1rem; }
.sidebar-item .news-with-image .section-item-news {
  display: grid;
  grid-template-columns: 1fr 2fr; }
  .sidebar-item .news-with-image .section-item-news h3 {
    margin: 0;
    font-size: 1rem; }

/* FOOTER SECTION
------------------------------------------------------------------ */
.footer-top-area {
  background-color: #f0f0f0;
  color: #727272;
  border-top: 5px solid #21409A;
  padding-top: 30px;
  padding-bottom: 15px; }
  .footer-top-area .footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px; }
    .footer-top-area .footer-top h2 {
      color: #050505;

      font-size: 1.2rem;
      margin-top: 0;
      margin-bottom: 0.5rem;

     }
      .footer-top-area .footer-top h2::before {
        position: absolute;
        top: 0;
        left: -1rem;
        width: 0.4rem;
        height: 100%;
        content: '';
        background-color: #0e0e0e; }
    .footer-top-area .footer-top .footer-column-news{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .footer-top-area .footer-top .section-item {
      border: none;
      margin-top: -1px; }
      .footer-top-area .footer-top .section-item a {
        font-size: 16px;
        color: #666666; }
      .footer-top-area .footer-top .section-item a:hover {
        color: #000000; }
      .footer-top-area .footer-top .section-item li {
        display: inline-block;
        color: #666666; }
      .footer-top-area .footer-top .footer-column-news{
      display: grid;
      }
        .footer-top-area .footer-top .section-item li:last-child {
          float: left;
          padding-right: 12px;
          padding-top: 2px; }
    .footer-top-area .footer-top .news-category-list h3 {
      font-size: .95rem;
      text-transform: capitalize;
      margin: 0.4rem 0; }
      .footer-top-area .footer-top .news-category-list h3 i {
        color: #777;
        padding-right: 0.4rem; }
      .footer-top-area .footer-top .news-category-list h3 span {
        text-align: right;
        float: right;
        padding-right: 1rem;
        color: #666666; }

        .footer-top-area .footer-top .newsletter-subscription {
          margin-bottom: 30px;
        }
    .footer-top-area .footer-top .newsletter-subscription .mailbox,
    .footer-top-area .footer-top .newsletter-subscription .submitbox {
      width: 100%;
      border: 0 solid;
      border-radius: 5px;
      padding: 12px;
      outline: none;
      font-size: 16px; }
    .footer-top-area .footer-top .newsletter-subscription .mailbox {
      margin-top: 15px;
      margin-bottom: 15px; }
    .footer-top-area .footer-top .newsletter-subscription .submitbox {
      background-color: #d32c2c;
      text-transform: uppercase;
      font-weight: bold;
      color: #F9F9F9; }
      .footer-top-area .footer-top .social-media i {
        padding: 10px;
        font-size: 27px;
        text-decoration: none;
        transition: transform 0.3s, color 0.3s; /* Menambahkan transisi untuk efek yang lebih halus */
    }
    
    .footer-top-area .footer-top .social-media i:hover {
        transform: scale(1.1); /* Membesarkan ikon saat hover */
        color: #a2a2a2 !important; /* Mengubah warna ikon saat hover */
    }
      .footer-top-area .footer-top .social-media a .fab.fa-facebook:hover{
      color: #BDC3C7;
      }

.footer-bottom-area {
  background-color: #f8f8f8;
}
  .footer-bottom-area .footer-bottom p {
    margin: 0;
    font-weight: 600;
    padding: 10px 0;
    color: #5e5e5e;
    text-align: center; }
    .contact-info {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
  }
  
  .contact-item {
      font-size: 15px;
      color: #666666; /* Adjust as needed */
 /* Add padding for better spacing */
      
  }
  
  .contact-item:last-child {
      border-bottom: none; /* Remove border from the last item */
  }
  

/* PAGES
------------------------------------------------------------------ */
.page-header {
  background-color: #F9F9F9;
  display: flex;
  position: relative;
  padding-top: 160px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f5f5f5; }
  .page-header h1 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    color: #454545;
    font-weight: bold;
    position: relative;
    padding: 1rem;
    margin: 0; }
    .page-header h1::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 0.4rem;
      height: 100%;
      content: '';
      background-color: #2d24d3; }
  .page-header ul {
    display: flex;
    padding: 1rem; }
    .page-header ul li {
      padding: 0 0.3rem;
      align-self: center; }
      .page-header ul li:nth-child(even) {
        color: #CCC; }
    .page-header ul a {
      color: #222;
      text-decoration: none; }
      .page-header ul a:hover {
        text-decoration: underline; }
  .page-header ul.border-vertical {
    position: relative; }
    .page-header ul.border-vertical::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 0.4rem;
      height: 100%;
      content: '';
      background-color: #2d24d3; }

.news-single .section-item {
  border:none;
}
.news-single .section-item p img {
  border-radius: 7px;
  max-width: 70%;
  display: block;
  margin: 0 auto; /* Ini akan membuat gambar berada di tengah secara horizontal */
}
.single-title {
  border-bottom: 1px solid rgb(209, 209, 209);
  margin-bottom: 25px;
}
.sosmed {
  margin-bottom: 10px;
  margin-left: 10px;
}
.sosmed i {
  font-size: 35px;
  padding: 3px;
  margin-bottom: 25px;
}
.news-single .section-item .single-p{
  margin-bottom: 10px;
}
.single-p a{
  text-decoration: none;
  font-size: 12px;
  color: #777;
}
.single-p a:hover{
  color: #242dde;
}
.news-single h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  color: #454545;
  padding: 0 1rem; }
.news-single .section-item p {
  padding: 0 1rem;
  color: black;
 font-size: 18px;}
.news-single .section-item ul {
  padding: 0 1rem;
  list-style-type: disc;
  margin-bottom: 20px;
  margin-left: 20px;

}
 .news-single .section-item h2 {
  padding: 0 1rem;
  font-size: 1.68rem;
 }
 .news-single .section-item h3 {
  padding: 0 1rem;
  font-size: 1.2rem;
 }
 .news-single .section-item h4 {
  padding: 0 1rem;
  font-size: 1rem;
 }
 .news-single .section-item h5 {
  padding: 0 1rem;
  font-size: 0.75rem;
 }
 .news-single .section-item table {
  justify-self: center;
}
.news-single .section-item ul li {
  margin-left: 10px;
  font-size: 18px;
  color: black;
  text-transform: none;
 }
 .news-single .section-item ul li:last-child {
  float: none;
  text-align: left;
 }

.archive-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .archive-news .news-item {
    flex-basis: 32%;
    margin-bottom: 2rem; }
    .archive-news .news-item h2 {
      margin: 0;
      padding: 1.2rem 0.8rem;
      color: #FFFFFF;
      text-align: center;
      font-size: 1.3rem;
      text-transform: uppercase;
      letter-spacing: .15rem;
      background-color: #454545; }
    .archive-news .news-item a {
      border-left: 1px solid #DDDDDD;
      border-right: 1px solid #DDDDDD;
      border-bottom: 1px solid #DDDDDD;
      color: #505050;
      font-size: 1.2rem;
      display: block;
      padding: 0.4rem 0.8rem;
      text-decoration: none;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      transition: color 0.3s ease; }
      .archive-news .news-item a:hover {
        text-decoration: underline;
        color: #222; }

        .nav-link { display: inline-flex; align-items: center; padding: 5px; text-decoration: none; color: inherit; }

        /* Responsive */

@media (max-width: 1200px) {
  .section-news .category-news {
    width: 95%;
  }

    .header-menu .scrollable-tabs-container {
      font-family: "Roboto", sans-serif;
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
    }
    .newsletter-subscription p {
      margin-right: 15px;
    }
    .section-news .news-category .section-item:not(:first-child) {
      display: grid;
      border: none;
      grid-template-columns: 1fr 2fr;
      grid-gap: 5px; }
    .footer-top-area {
      padding-right: 10px;
      padding-left: 10px;
    }
}
@media (max-width: 900px) {
  .header-top-area { 
    padding-top: 170px;
  }
    .header-menu .scrollable-tabs-container {
      font-family: "Roboto", sans-serif;
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
    }
    .header-logo .logo a { 
    font-size: 1.5rem;
    }
    .page-header { 
      padding-top: 160px;
    }
    .nav-link span { 
      display: none;
      padding: 5px;}
      .header-logo nav ul li a {
      border: none;
      font-size: 16px;
      padding: 12px;
      }
      .header-logo nav ul li a:hover {
        background-color: #5069ff;
      }
      .header-logo nav ul li {
        padding: 0px;
      }
      .section-news .news-category {
        grid-template-columns: repeat(1, 1fr);
      }
      .section-news .news-lifestyle {
        grid-template-columns: repeat(2, 1fr);
      }
      .ads img {
        width: 80%;
    }
}
@media (min-width: 901px) {
  
  .header-logo nav ul li a {
    background-color:#242dde;
    color: #FFFFFF;
  }
  .header-logo nav ul li a i {
    display: none;
  }
  .header-logo nav ul .masuk  a {
    background-color: #ffffff;
    color: #000000;
  }
  .header-logo nav ul .masuk a i {
    display: none;
  }
  .header-logo nav ul .masuk a:hover {
    color: #FFFFFF; }
}

@media (max-width: 700px) {
  .newsletter-subscription p {
    margin-left: 15px;
  }
    .section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px; }
  .section-news {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px; }
  .section-news .news-category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px; }
  .footer-top-area .footer-top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px; 
  }
  .header-menu .scrollable-tabs-container {
    font-family: "Roboto", sans-serif;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
  }

  .header-logo .search form #searchinput {
    border: none;
    outline: none;
    /* padding: 0.5rem .65rem; */
    width: 0;
    /* position: absolute; */
    right: 12px;
    z-index: 2;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .header-logo .search form:hover #searchinput {
      width: 220px; }

      .footer-top-area {
        padding-left: 10px;
      }
  .title-overlay {
    font-size: 80%;
  }
}
@media (max-width: 500px) {
  .title-overlay .title-category {
    height: 30px;
    width: 100px;
  }
  .section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px; } 
  .header-menu .scrollable-tabs-container {
    font-family: "Roboto", sans-serif;
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
  }

  .header-logo .search form #searchinput {
    border: none;
    outline: none;
    /* padding: 0.5rem .65rem; */
    width: 0;
    /* position: absolute; */
    right: 12px;
    z-index: 2;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .header-logo .search form:hover #searchinput {
      width: 120px; }
      .section-news .news-category {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px; }

        .section-news .news-lifestyle {
          grid-template-columns: repeat(2, 2fr);
        }
        .title-overlay {
          font-size: 60%;
        }

        .section-grid .section-item:nth-child(1) .image-container img {
          height: 310px;
      }
}
@media (max-width: 391px) {

  .title-overlay {
    font-size: 60%;
  }

  .header-logo nav ul li a {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-logo .logo a {
    font-size: 1.3rem;
  }
  .section-grid .section-item a img {
    width: 175px; 
    height: 150px; 
    object-fit: cover; 
    transition: transform .5s;
    border-radius: 10px;
}
  .section-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1px; }
      .header-logo .search form #searchinput {
        height: 28px;
      }
      .header-logo .search form:hover #searchinput {
        width: 90px;
        height: 28px;
        font-size: 14px;
      }
      .header-logo .search form .search-btn { 
        font-size: 15px;
      }
      .header-logo .search {
        padding: 0;
        height: 33px;
      }
}

/*# sourceMappingURL=style.css.map */